<% layout('layouts/boilerplate') %>

    <h1 class="text-center">編集</h1>
    <div class="offset-md-3 col-md-6">
        <form action="/books/<%= book._id %>?_method=PUT" method="POST" class="validated-form" novalidate>

            <div class="mb-3">
                <label for="title" class="form-label">本のタイトル</label>
                <input type="text" name="books[title]" class="form-control" id="title" value="<%= book.title %>"
                    required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">著者</label>
                <input type="text" name="books[author]" class="form-control" id="author" value="<%= book.author %>"
                    required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="isbn" class="form-label">ISBN</label>
                <input type="text" name="books[isbn]" class="form-control" id="isbn" value="<%= book.isbn %>" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">ジャンル</label>
                <input type="text" name="books[category]" class="form-control" id="category"
                    value="<%= book.category %>" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">画像</label>
                <input type="text" name="books[coverImageUrl]" class="form-control" id="image"
                    value="<%= book.coverImageUrl %>" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">説明</label>
                <textarea name="books[description]" class="form-control" id="description" rows="5" cols="33"
                    required><%= book.description %></textarea>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <button type="submit" class="btn btn-primary">更新</button>
        </form>
    </div>