<% layout('layouts/boilerplate') %>
    <h4>
        「<%= book.title %>」
    </h4>

    <div id="bookCarousel" class="carousel slide">
        <div class="carousel-inner">
            <% book.images.forEach((img,i)=> {%>
                <div class="carousel-item <%= i === 0 ? 'active' :'' %>">
                    <img src="<%= img.url %>" class="d-block w-100" alt="...">
                </div>
                <% }) %>
        </div>
        <% if(book.images.length>1){ %>
            <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <% } %>
    </div>

    <div class="card mb-3 mt-3">
        <div class="card-body">
            <p>
                著者：<%= book.author %>
            </p>

        </div>

    </div>

    <% if(currentUser){ %>
        <a href="/books/<%= book._id  %>/reviews/new">本のレビューを投稿する</a>
        <% } %>

            <% if(currentUser && book.owner.equals(currentUser._id)){ %>
                <a class="btn btn-primary" href="/books/<%= book._id%>/edit" role="button">編集</a>
                <form class="d-inline" action="/books/<%= book._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">削除</button>
                </form>
                <% } %>