<% layout('layouts/boilerplate') %>
    <h4>
        「<%= bookreview.title %>」の感想
    </h4>
    <div class="card mb-3 mt-3">
        <div class="card-body">
            <p class="card-text">
                <%= bookreview.comment %>
            </p>
        </div>
        <div class="card-footer text-body-secondary">
            <%= dateStr %>
        </div>
    </div>
    <a class="btn btn-primary" href="/bookreview/<%= bookreview._id%>/edit" role="button">編集</a>
    <form class="d-inline" action="/bookreview/<%= bookreview._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">削除</button>
    </form>