<% layout('layouts/boilerplate') %>
    <h4>
        <%=review.book.title %>
    </h4>
    <div class="card mb-3 mt-3">
        <div class="card-body">
            <p>
                内容：<%= review.content %>
            </p>
            <p>
                評価：<%= review.rating %>
            </p>
        </div>
    </div>

    <a class="btn btn-primary" href="/reviews/<%= review._id%>/edit" role="button">編集</a>
    <form class="d-inline" action="/reviews/<%= review._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">削除</button>
    </form>