<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <h1 class="text-center mb-3 ">
        読書メモ詳細
    </h1>
    <div class="offset-md-2 mb-3 col-md-8">
        <div class="card ">
            <div class="card-body m-3">
                <h3 class="card-title ">
                    <%= review.owner.username %>さんの読書メモ
                </h3>
                <p class="starability-result " data-rating="<%= review.rating %>">
                    評価: <%= review.rating %>
                </p>
                <p class="card-text">
                    <%= review.content %>
                </p>
            </div>

            <div class="card mb-3 offset-md-1 col-md-10 shadow">
                <div class="row g-0 ">
                    <div class="  col-md-3 ">
                        <% if(review.book.images && review.book.images.length>0){ %>
                            <img src="<%=review.book.images[0].url %>" class="img-fluid rounded-start card-img-top "
                                alt="...">
                            <% }else{ %>
                                <img src="" class="card-img-top no-image img-fluid" alt="画像なし">
                                <% } %>
                    </div>
                    <div class="col-md-9">
                        <div class="card-body p-4">
                            <h5 class="card-title book-title">
                                <%=review.book.title %>
                            </h5>
                            <p class="card-text"><small class="text-body-secondary">
                                    <%= review.book.author %>
                                </small></p>
                            <p class="card-text multiline-ellipsis">
                                <%= review.book.description %>
                            </p>
                            <a class="stretched-link" href="/books/<%= review.book._id  %>"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-body-secondary mt-3">
                <p>投稿日: <%= review.formattedDate %>
                </p>
            </div>
        </div>


        <% if(currentUser && review.owner.equals(currentUser._id)){ %>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end m-3">

                <a class="btn btn-primary" href="/reviews/<%= review._id%>/edit" role="button">編集</a>
                <form class="d-inline" action="/reviews/<%= review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">削除</button>
                </form>
            </div>

            <% } %>





    </div>