<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <div class="card mb-3 mt-3">
        <div class="card-body">
            <h5 class="card-title">
                <%=review.book.title %>
            </h5>
            <p>
                <%= review.content %>
            </p>
            <p class="starability-result" data-rating="<%= review.rating %>">
                評価: <%= review.rating %>
            </p>
        </div>
    </div>



    <% if(currentUser && review.owner.equals(currentUser._id)){ %>
        <a class="btn btn-primary" href="/reviews/<%= review._id%>/edit" role="button">編集</a>
        <form class="d-inline" action="/reviews/<%= review._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">削除</button>
        </form>
        <% } %>